In [25]:
import tensorflow
import tensorflow.keras.models as load_model
import numpy as np
import pickle
import pandas as pd

In [29]:
## Load thr trained model, scaler and onehot encoders
from tensorflow.keras.models import load_model
model = load_model('ann_model.h5')

with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f) 

with open('Label_encoder_Gender.pkl', 'rb') as f:
    label_encoder_gender = pickle.load(f)

with open('onehot_encoder_geo.pkl', 'rb') as f:
    label_encoder_geo = pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.
o:\DSA\ANN Classification Project\venv\Lib\site-packages\sklearn\base.py:442: InconsistentVersionWarning: Trying to unpickle estimator OneHotEncoder from version 1.5.0 when using version 1.7.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [37]:
#Example input data
input_data = {
    "CreditScore": 600,
    "Geography": "France", 
    "Gender":"Male",   
    "Age": 40,
    "Tenure": 3,
    "Balance": 60000,
    "NumOfProducts": 2,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "EstimatedSalary": 50000
}

In [38]:
# one hot encoding "Geography"
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography'])) 
geo_encoded_df

o:\DSA\ANN Classification Project\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [39]:
input_df=pd.DataFrame([input_data])

In [40]:
#combine all features into a single dataframe
input_df=pd.concat([input_df, geo_encoded_df], axis=1)
input_df.drop(['Geography'], axis=1, inplace=True)
input_df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [41]:
# Encode categorical feature "
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [44]:
# Scale the input data
input_scaled = scaler.transform(input_df)   
input_scaled

array([[-0.54204762,  0.91055421,  0.10473081, -0.68894811, -0.26230046,
         0.81966266,  0.64598061,  0.97071435, -0.88153859,  0.99828718,
        -0.57559072, -0.57779016]])

In [45]:
## Predict the output
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 244ms/step

array([[0.03501992]], dtype=float32)

In [49]:
# Prediction Probability
prediction_probability = prediction[0][0]
prediction_probability

np.float32(0.03501992)

In [50]:
if prediction_probability > 0.5:
    print(f"The customer is likely to leave the bank with a probability of {prediction_probability:.2f}")       
else:
    print(f"The customer is likely to stay with the bank with a probability of {1 - prediction_probability:.2f}")

The customer is likely to stay with the bank with a probability of 0.96